 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: lightblue;
   
}

#top{

    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    }

#top h1{
    font-size: 40px;
    color:rgb(0, 0, 0);
}

#main{
    height: 500%;
    width: 100%;
    margin-top: 3%;
    display: flex;
    position: relative;
}

#left{
    height: 100%;
    width: 20%;
    }

    #l1{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}

#l2{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 30%;
font-size: 13px;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
 
#l3{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 40%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#l4{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 50%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#l5{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 60%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#l6{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 70%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#l7{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 80%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#l8{width: 68%;
    height: 7%;
  margin-left: 10%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 90%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
 #instagram{
    height: 6%;
    width: 68%;
    margin-left: 10%;
    margin-top: 40%;
    background-color: transparent;
    cursor: pointer;
     }
     #left h4{
        margin-left: 17%;
        cursor: pointer;
     }
#center{
    height: 100%;
    width: 60%;
    background-color:   #003366;
    box-shadow:0 0 15px 3px;
border-radius: 5px;
    
}
#logo{
    
    display: flex;
justify-content: center;
background-color: white;
font-size: 50px;
margin: 1% 45%;
border-radius: 50%;
 cursor: pointer;

}

#logo:hover{
    color: white;
    background-color: black;
    transition: all ease 0.1s;
}

#center h4{
     display: flex;
justify-content: center;
color: white;

}

#buttons{
    width: 100%;
    height: 10%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    justify-content: center;

}

   button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    
}

button:hover{
   background-color: black;
   color: white;
    scale: 1.1;
      transition: all ease 0.1s;
}

button:active{
    scale: 0.9;
    transition: all ease 0.5s;
    background-color: black;
}

#right{
    height: 100%;
    width: 20%;
    }

   #r1{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}

#r2{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 30%;
font-size: 13px;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
 
#r3{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 40%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#r4{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 50%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#r5{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 60%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#r6{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 70%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#r7{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 80%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
#r8{width: 68%;
    height: 7%;
  margin-left: 15%;
background-color:  #034e3b;
text-align: center;
color: white;
margin-top: 90%;
cursor: pointer;
 box-shadow:0 0 15px 3px;
border-radius: 5px;
}
 #facebook{
    height: 6.5%;
    width: 75%;
    margin-left: 15%;
    margin-top: 40%;
    background-color: transparent;
    cursor: pointer;
     }
     #right h4{
        margin-left: 27%;
        cursor: pointer;
     }

#images{
    height: 100%;
    width: 100%;
    margin-top: 1%;
}
#img1{
    height: 15%;
    width: 80%;
    margin-top: 0%;
    margin-left: 10%;
    cursor: pointer;
   }

#img2{
    height: 15%;
    width: 80%;
      margin-left: 10%;
      margin-top: 10%;
      cursor: pointer;
}
#img3{
    height: 15%;
  
    width: 80%;
    margin-left: 10%;
    margin-top:12% ;
    cursor: pointer;
}

#img4{
    height: 15%;
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 20%;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 18px;
}

.my-table th, .my-table td {
  padding: 12px 15px;
  border: 1px solid #ccc;
  text-align: left;
}

.my-table thead {
  background: #4fa3d1;
  color: white;
}

.my-table tbody tr:nth-child(even) {
  background: #f2f7fa;
}

.my-table a {
  color: #0077cc;
  text-decoration: none;
}

#table{
    margin-top: 15%;
    
}

#last{
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: black;
    margin-top: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#last h1{
    color: white;
    font-size: 40px;
    align-items: center;
}
#end{
    height: 5%;
    position: absolute;
    width: 100%;
      align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    text-align: center;
}

